# Игнорировать виртуальные окружения
venv/
.env/
.venv/
env/

# Игнорировать кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Игнорировать драйверы
drivers/
*.exe

# Игнорировать файлы IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp
*.bak

# Игнорировать зависимости
*.egg-info/
dist/
build/
